#columns
  %ul#models
    -@available_columns.keys.each do |model|
      %li
        =link_to model.name.underscore.humanize, "#columns_for_#{model.name}"
  -@available_columns.each do |model, attrs|
    %div(id="columns_for_#{model.name}")
      -attrs.each do |attr_name, shown|
        %li
          %label(for="#{model.name}#{attr_name}")= attr_name.to_s.humanize
          =check_box_tag("#{model.name}#{attr_name}", 'true', shown)
